/* ToggleButton.module.css */
.container {
  display: flex;
  width: 350px;
  height: 50px;
  border-radius: 38px;
  background-color: #1b1b1b; /* Dark background */
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: 1px solid #9E9E9E;
  padding: 4px;
  z-index: 10;
  margin-left: -7.5rem;
  /* background-color: red !important; */
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  transition: color 0.3s ease; /* Smooth color transition */
}

.innerCircle {
  width: 50%;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 34px;
  transition: left 0.3s ease;
  border: 1px solid white;
  backdrop-filter: blur(1px);
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .container {
    width: 75px; /* Adjust width for mobile view */
    height: 30px; /* Adjust height for mobile view */
  }
  .innerCircle {
    width: 35%; /* Adjust width for mobile view */
    height: 20px;
  }

  /* Remove text inside the toggle buttons for mobile */
  .option span {
    display: none; /* Hide the text for mobile view */
  }
}
